{
    presets: [
        [
            "@babel/preset-env",     // 转换工具
            {
                targets: {
                    chrome: "67",    // 转换针对的浏览器
                },
                useBuiltIns: 'usage'  // 根据业务代码来补充代码,会自动引入babel/polyfill
            }
        ]   
    ]  
    // presets polyfill 会产生全局污染，而transform不会
    // "plugins": [
    //     [
    //             "@babel/plugin-transform-runtime"
    //         ,{
    //             "absoluteRuntime": false,
    //             "corejs": 2,        // 这里要设置为2
    //             "helpers": true,
    //             "regenerator": true,
    //             "useESModules": false
    //         }
    //     ]
    // ]
}